name: Build modules

on:
  push:
    branches: [ main ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          # https://fabricmc.net/use/server/
          # https://modrinth.com/mod/fabric-api/versions
          # https://modrinth.com/mod/packtest/versions
          - version: '1.21.5'
            fabric_server_url: https://meta.fabricmc.net/v2/versions/loader/1.21.5/0.16.13/1.0.3/server/jar
            fabric_api_url: https://cdn.modrinth.com/data/P7dR8mSH/versions/FZ4q3wQK/fabric-api-0.119.9%2B1.21.5.jar
            packtest_url: https://cdn.modrinth.com/data/XsKUhp45/versions/Swh7th09/packtest-2.1-mc1.21.5.jar
          - version: '1.21.7'
            fabric_server_url: https://meta.fabricmc.net/v2/versions/loader/1.21.7/0.16.14/1.0.3/server/jar
            fabric_api_url: https://cdn.modrinth.com/data/P7dR8mSH/versions/sLmbxWpX/fabric-api-0.128.1%2B1.21.7.jar
            packtest_url: https://cdn.modrinth.com/data/XsKUhp45/versions/PAYctH3X/packtest-2.2-mc1.21.7.jar
          - version: '1.21.10'
            fabric_server_url: https://meta.fabricmc.net/v2/versions/loader/1.21.10/0.18.1/1.1.0/server/jar
            fabric_api_url: https://cdn.modrinth.com/data/P7dR8mSH/versions/dQ3p80zK/fabric-api-0.138.3%2B1.21.10.jar
            packtest_url: https://cdn.modrinth.com/data/XsKUhp45/versions/11yGLsYO/packtest-2.3-beta1-mc1.21.10.jar
          - version: '1.21.11'
            fabric_server_url: https://meta.fabricmc.net/v2/versions/loader/1.21.11-rc2/0.18.1/1.1.0/server/jar
            fabric_api_url: https://cdn.modrinth.com/data/P7dR8mSH/versions/RDb9rvBm/fabric-api-0.139.4%2B1.21.11.jar
            packtest_url: https://cdn.modrinth.com/data/XsKUhp45/versions/GN6fvTsW/packtest-2.4-beta2-mc1.21.11.jar
    name: 'test-${{ matrix.version }}'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Download server files
        run: |
          curl -o server.jar ${{ matrix.fabric_server_url }}
          mkdir mods
          curl -o mods/fabric-api.jar ${{ matrix.fabric_api_url }}
          curl -o mods/packtest.jar ${{ matrix.packtest_url }}

      - name: Copy packs to world
        run: |
          mkdir -p world/datapacks
          cp datapacks/gm4_* world/datapacks

      - name: Run test server
        id: run-tests
        run: |
          java -Xmx2G -Dpacktest.auto -Dpacktest.auto.annotations -jar server.jar nogui

      - name: Upload test world
        if: ${{ failure() && steps.run-tests.conclusion == 'failure' }}
        uses: actions/upload-artifact@v4
        with:
          name: 'Test world in ${{ matrix.version }} for ${{ github.sha }}'
          path: ${{ github.workspace }}/world/
